{% include "includes/html_head.html" %}
{% include "includes/navigation.html" %}
    <main role="main" class="content">
        <section class="about-us">
            <div class="container">
                <h1 class="title--page">Over P.O.G b.v</h1>
                <img src="assets/img/house2.jpg" />
                <p class="p--lead">
                    POG, opgericht in 1982, is gevestigd in de monumentale Villa Pera in het
                    centrum van Baarn. POG is een onafhankelijke projectontwikkelaar,
                    gespecialiseerd in de ontwikkeling van kwalitatief hoogwaardige objecten
                    op het gebied van woningbouw, utiliteitsbouw en mengvormen daarvan.
                </p>
                
                <p>
                    De laatste jaren heeft POG zich vooral gespecialiseerd in de bouw
                    van (veelal grondgebonden) starterswoningen en Future Proof Residences
                </p>
                <p>
                    Ook het restaureren van monumenten vormt een steeds groter
                    onderdeel van de werkzaamheden. Het is een uitdaging om een passende 
                    bestemming aan het monument te geven, waarbij het behoud van het 
                    originele karakter voorop staat.  
                </p>
            </div>
        </section>
    </main>
{% include "includes/footer.html" %}
{% include "includes/html_footer.html" %}