{% include "includes/html_head.html" %}
<div class="bg-image" data-late-fade></div>
{% include "includes/navigation-homepage.html" %}
    <section class="intro" id="intro">
        <img src="assets/img/LOGO.GIF">
        <p class="p--lead">
            Nederlandse Maatschappij voor Projectontwikkeling van Onroerende Goederen POG B.V.
        </p>
    </section>
    <main role="main" class="content" id="main" data-late-fade>
        <div class="container" data-animate-content>
            <h1 class="title--main">Op zoek naar een unieke locatie voor uw kantoor?</h1>
            <p class="p--lead">Bekijk hier ons <a href="/aanbod.html" class="btn btn--arrow-r">aanbod</a></p> 
        </div>
    </main>
{% include "includes/html_footer.html" %}