{% include "includes/html_head.html" %}
{% include "includes/navigation.html" %}
    <main role="main" class="content monument">
        
        <header class="monument__header" style="background-image: url(assets/img/house.jpg)"></header>

        <section class="monument__info">
            <div class="container container--text">
                <h1 class="title--page">Baarn, Villa Pera</h1>

                <p class="p--lead">
                    Villla Pera, gelegen aan de Eemnesserweg te Baarn, is sinds 1886 door twee adellijke families bewoond geweest. Sinds 2005 is deze villa in ons bezit en zijn wij 
                    over een periode van ruim 7 jaar bezig geweest dit prachtige, onaangetaste monument, waar de tand des tijds zijn tol heeft geëist, geheel in oude staat terug
                    te brengen. 
                </p>

                <p>
                    Een zeer uitdagende klus. De restauratie van de buitenkant, het biljarthuisje, het hek, de tuin en het interieur is inmiddels afgerond. Wij hebben hier 
                    zoveel mogelijk de villa in oorspronkelijke staat gelaten c.q. teruggebracht (handbeschilderde plafonds, glas in lood ramen, wandbespanning etc.) en toch ook de 
                    hedendaagse gemakken erin gebracht (databekabeling, lift, airco, centrale verwarming).
                </p>

                <p>
                    In deze prachtige villa huisvesten naast ons kantoor nog een aantal andere bedrijven. De kantoorruimte wordt aangeboden per kamer met gezamenlijk gebruik van de
                    keuken, pantry, tuin en vergaderzaal. Daarnaast hebben ook tal van professionele fotografen en stylisten de weg naar de villa weten te vinden als locatie
                    voor diverse (mode) fotoshoots.
                </p>

                <p><button class="btn btn--gallery" data-open-gallery>View photo's</button></p>
                <a class="btn btn--arrow-l" href="monumenten.html">Back to overview</a>
            </div>

            <ul class="monument__gallery" id="gallery" style="display:none;">
                <li src="assets/img/house.jpg" data-index="1"></li>
                <li src="assets/img/eerder.jpg" data-index="2"></li>
                <li src="assets/img/opgeleverd.jpg" data-index="3"></li>
                <li src="assets/img/ontwikkeling.jpg" data-index="4"></li>
            </ul>
        </section>
    </main>
    <div class="modal" id="modal" >
        <div class="modal__content">
            <button id="close"></button>
            <button id="prev"></button>
            <button id="next"></button>
        </div>
    </div>
{% include "includes/footer.html" %}
{% include "includes/html_footer.html" %}