{% include "includes/html_head.html" %}
{% include "includes/navigation.html" %}
    <main role="main" class="content">
        <section class="project">
            <div class="container">
                <h1 class="title--page">Projecten</h1>
                <p class="p--lead">
                    Momenteel hebben wij diverse projecten in voorbereiding. Zodra een project daadwerkelijk in ontwikkeling is zullen wij dat melden op deze site.
                </p>
                <p class="p--lead">
                    Wilt u weten welke projecten er al in de verkoop zijn of welke POG eerder heeft ontwikkeld, kijk dan respectievelijk bij <a href="/aanbod.html">aanbod</a> of <a href="/projects-realised.html">gerealiseerd</a>.
                </p>

                <div class="project__types">
                    <a class="project__type" href="/projects-running.html">
                        <div class="project__image" style="background-image:url(assets/img/ontwikkeling.jpg);"></div>
                        <h2>In ontwikkeling</h2>
                    </a>
                    <a class="project__type" href="/projects-realised.html">
                        <div class="project__image" style="background-image:url(assets/img/opgeleverd.jpg);"></div>
                        <h2>Gerealiseerd</h2>
                    </a>
                    <a class="project__type" href="/projects-done.html">
                        <div class="project__image" style="background-image:url(assets/img/eerder.jpg);"></div>
                        <h2>Eerdere projecten</h2>
                    </a>
                </div>
            </div>
        </section>       
    </main>
{% include "includes/footer.html" %}
{% include "includes/html_footer.html" %}