{% include "includes/html_head.html" %}
{% include "includes/navigation.html" %}
    <main role="main" class="content">
        <section class="project">
            <div class="container">
                <h1 class="title--page">Gerealiseerde projecten</h1>
                <a href="/monument-detail.html" class="project__project">
                    <div class="project__image" style="background-image:url(assets/img/house.jpg);"></div> 
                    <h2 class="project__title">Baarn, 't Geerke starteswoningen</h2>
                </a>
                <a href="/monument-detail.html" class="project__project">
                    <div class="project__image" style="background-image:url(assets/img/house.jpg);"></div> 
                    <h2 class="project__title">Baarn, 't Geerke starteswoningen</h2>
                </a>
                <a href="/monument-detail.html" class="project__project">
                    <div class="project__image" style="background-image:url(assets/img/house.jpg);"></div> 
                    <h2 class="project__title">Baarn, 't Geerke starteswoningen</h2>
                </a>
                <a href="/monument-detail.html" class="project__project">
                    <div class="project__image" style="background-image:url(assets/img/house.jpg);"></div> 
                    <h2 class="project__title">Baarn, 't Geerke starteswoningen</h2>
                </a>
            </div>
        </section>       
    </main>
{% include "includes/footer.html" %}
{% include "includes/html_footer.html" %}