@include mq-desktop{
    .about-us{
        p{
            display: inline-block;
            width: 50%;
        }

        img{
            max-width: 40%;
            float: right;
            border: 1px solid rgba($grey,.6);
        }
    }
}