.contact{
    padding-bottom: 50px;
    
    #map{
        height: 150px;
        margin-bottom: 25px;
        border: 1px solid rgba($black,.4);
    }

    .title--page{
        margin-bottom: 10px;
    }

    &__viewmap{
        padding: 13px 15px 12px 45px;
        border: 1px solid rgba($black,.4);
        border-radius: 2px;
        text-decoration: none;
        background:url(../img/map.svg) no-repeat 10px;
        background-size: 23px;
        font-weight: bold;
        color: $black;
        text-transform: uppercase;
        font-size: 12px;

        &:hover{
            border: 1px solid rgba($black,1);
        }
    }

    &__info{
        margin-bottom: 25px;
        display: inline-block;
        list-style-type: none;
        padding-left: 0;

        li{
            font-weight: 100;
            font-size: 16px;

            &:first-child{
                font-weight: bold;

                &:before{
                    display: none;
                }
            }
        }
    }

    &__instructions{
        overflow: hidden;

        ul{
            padding: 0;
            box-sizing: border-box;
            float: left;
            padding: 0px 15px;
            list-style-type: none;
            
            &:first-child{
                padding-left: 0px;
            }
        }

        li{
            font-weight: 100;
            font-size: 16px;

            &:first-child{
                font-weight: bold;

                &:before{
                    display: none;
                }
            }
        }
    }
}

@include mq-desktop{
    .contact{

        &__instructions{

            ul{
                width: 33%;
            }
            
        }

        &__info{
            margin-bottom: 75px;
        }

        #map{
            height: 250px;
            width: 50%;
            float: right;
        }
    }
}