.footer{
    margin-top: 45px;
    width: 100%;
    display: block;
    
    ul{
        padding: 0;
        margin: 30px 0px;

        li{
            display: block;
            margin-right: 30px;

            a{
                color: $grey;
            }
        }
    }
}

@include mq-desktop{
    .footer{
        ul{
            li{
                display: inline;
                margin-right: 30px;
            }
        }
    }
}