html,body{
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body{
    font-family: 'Arima', sans-serif;
    color: $grey;

    &.menu-active{
        max-height: 100vh;
        overflow: hidden;
    }
}


[data-animate-content]{
    h1,h2,h3,a,p{
        opacity: 0;
        transition: all 1s ease-out;
    }
}

[data-late-fade]{
    animation: fade-in 6s;
    transition-delay: opacity 6s;
}

//done state
.done{
    h1,h2,h3,a,p{
        opacity: 1;
    }   
}

a{
    transition: all 125ms ease-in-out;
}


.bg-image{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/house.jpg);
    background-size: cover;
    z-index: 0;

    &:before{
        content: '';
        @include gradient(transparent ,rgba(black,.4));
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70%;
    }
}



dl{
    dt,dd{
        display: block;
        width: 50%;
        float: left;
        margin: 0;
    }
}

[data-circle-green],
[data-circle-red],
[data-location-img],
[data-home-img],
[data-euro-img]{
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 35px;
    background-position: 0px;
}

[data-location-img]{
    background-image: url(../img/location.svg);
}

[data-home-img]{
    background-image: url(../img/home.svg);
}

[data-circle-green]{
    background-image: url(../img/circle-green.svg);
    background-size: 16px;
    background-position: 0px 4px;
}

[data-circle-red]{
    background-image: url(../img/circle-red.svg);
    background-size: 16px;
}

[data-euro-img]{
    background-image: url(../img/euro.svg);
    background-size: 16px;
}


.about-us{
    img{
        width: 100%;
    }
}