.p{

    &--lead{
        font-size: $size-s;
        font-weight: 300;
        margin: 0px;
        margin-bottom: 10px;
    }
}

.title{

    &--main{
        @include title--main;
    }

    &--page{
        @include title--page;   
    }
}

@include mq-tablet{
    .p{

        &--lead{
            font-size: $size-l;
        }
    }
};

@include mq-desktop{
    .p{
        &--lead{
            font-size: $size-l;
        }
    }
}

p,li{
    font-size: $size-m;
    font-weight: 100;
    line-height: 32px;
    letter-spacing: 0.5px;
}

p{
    a{
        color: $black;

        &:hover{
            opacity: .6;
        }
    }    
}
