.btn{
    color: #333;
    border: none;
    font-size: $size-l;
    background: none;

    &--primary{
        background: $color-primary;
        color: white;
        border-radius: 2px;
        font-size: 16px;
        padding: 10px 15px 11px 15px;
    }
    
    &--arrow-r{
        background-image: url(../img/right-arrow-white.svg);
        background-position: 100% 6px;
        padding-right: 30px;
        background-size: 20px;
        background-repeat: no-repeat;
        transition: all 125ms ease-out!important;
        animation: pulse 1s infinite !important;

        &:hover{
            animation-play-state: paused;
            padding-right: 35px;
        }
    }

    &--arrow-l{
        background-image: url(../img/left-arrow.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 0px 6px;
        padding-left: 30px;
        transition: all 125ms ease-out!important;
        animation: pulse 1s infinite !important;

        &:hover{
            animation-play-state: paused;
            padding-right: 35px;
        }
    }

    &--gallery{
        background: none;
        background-image: url(../img/gallery.svg);
        background-position: 90% 11px;
        padding-right: 20px;
        background-size: 18px;
        background-repeat: no-repeat;
        transition: all 125ms ease-out!important;
        border-radius: 2px;
        padding: 10px 45px 12px 15px;
        border: 1px solid rgba($grey, .8);

        &:hover{
            background-image: url(../img/gallery-white.svg);
            background-color: black;
            color: white;

        }
    }

    &--menu{
        z-index: 9;
        position: absolute;
        right: 15px;
        top: 28px;

        img{
            display: block;
            transition: all 250ms ease-out;

            &:first-child{
                margin-bottom: 6px;
            }
        }

        &.active{
            img{
                &:first-child{
                    transform: rotate(45deg);
                    margin-top: 4px;
                }    

                &:last-child{
                    transform: rotate(-45deg);
                    margin-top: -8px;
                }
            }
        }
    }
}



button{
    outline: none;
}