select{
    -webkit-appearance:none;
    background: none;
    border: none;
    box-sizing: border-box;
    background: white;
    font-size: 16px;
    padding: 10px 45px 11px 15px;
    background-image: url(../img/down-chevron.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 90% 12px;
}