.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(black,.85);
    display: none;

    &__content{
        transition: all 250ms ease-out;
        width: 100%;
        margin: 0px auto;
        border-radius: 2px;
        overflow: hidden;
        box-shadow: 0px 2px 20px rgba(black ,.7);
        align-self: center;

        img{
            width: 100%;
        }
    }

    &.visible{
        display: block;
        display: flex;
        justify-content: center;
    }

    #next,
    #prev,
    #close{
        background: none;
        border: none;
        position: absolute;
        height: 45px;
        width: 45px;
        top: calc(50% + 10px);
        background-image: url(../img/next.svg);
        background-repeat: no-repeat;
        background-size: 20px;
        border-radius: 4px;
        transition: all 125ms ease-out;
    }
    
    #next{
        right: 20px;
        background-position: center center;
    }

    #prev{
        left: 20px;
        background-position: center center;
        transform: rotate(180deg);
    }

    #close{
        top: 15px;
        right: 15px;
        background-image: url(../img/cancel.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}