#main{
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: flex-end;
    z-index: 2;

    >.container{
        display: flex;
        flex-direction: column;
        margin-bottom: 75px;      
    }

    .title--main,a{
        color: rgba(white,.9);
    }
    p{
        color: rgba(white,.6);
    }
}

@include mq-tablet{
    #main{
        >.container{
            margin-bottom: 100px;
        }
    }
}

@include mq-desktop{

    #main{
        >.container{
            margin-bottom: 200px;

            h1{
                width: 550px;
            }
        }
    }
}