.intro{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    animation: fade-in 6s;
    opacity: 0;
    flex-direction: column;
    padding: 0px 20px;
    box-sizing: border-box;
    pointer-events: none;
    background-color: white;
    animation: fade-in-out 5s;

    img{
        align-self: center;
        margin-bottom: 30px;
    }

    .p--lead{
        align-self: center;
        text-align: center;
    }
}