.monument{

    &__header{
       height: 60vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: flex-end;
        position: relative;

        &:before{
            content: '';
            @include gradient(transparent ,rgba(black,.4));
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 70%;
        }

        .container{
            margin-bottom: 100px;
        }

        .title--main{
            font-size: 48px;
        }
    }

    .btn{
        font-size: $size-m;
    }

    &__info{
        padding: 50px 0px;
    }

    .btn--arrow-l{
        margin-top: 50px;
        display: inline-block;
        background-size: 16px;
        background-position: 0px 4px;
    }

}