.monument{
    
    &__overview{
        max-width: 1400px;
        margin: 0px auto;
        overflow: hidden;
        margin-bottom: -150px;
    }

    &__row{
        display: block;

        &--down{
            display: flex;
            align-items: flex-end;
        }
    }    
    
    &__item{
        position: relative;
        display: block;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 200px;
        box-sizing: border-box;
        border: 3px solid white;
        border-left: 6px solid white;
        border-right: 6px solid white;
    
        &--xlarge{
            width: 100%;
        }

        &--large{
            width: 100%;
        }

        &--medium{
            width: 100%;
        }

        &-content{
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 0px 20px;
            transition: all 250ms ease-in;

            h2{
                color: white;
                font-weight: 100;
            }
        }

        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 30%;
            width: 100%;
            width: calc(100%);
            @include gradient(transparent, rgba(black,1))
            transition: all 250ms ease-in;
            opacity: 1;
        }
    }
}

@include mq-tablet{
    .monument{

        &__row{
            display: block;

            &--down{
                display: flex;
                align-items: flex-end;
            }
        }    
        
        &__item{
            position: relative;
            display: block;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 400px;
            border: 6px solid white;
        
            &--xlarge{
                width: 100%;
            }

            &--large{
                width: 50%;
            }

            &--medium{
                width: 25%;
                background-position: bottom center;
                height: 200px;
            }

            &--negative{
                transform: translateY(calc(-50%));
            }

            &-content{
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 0px 20px;
                transform: translateY(50px);
                transition: all 250ms ease-in;

                h2{
                    color: white;
                    font-weight: 100;
                }
            }

            &:before{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 30%;
                width: 100%;
                width: calc(100%);
                @include gradient(transparent, rgba(black,1))
                transition: all 250ms ease-in;
                opacity: 0;
            }

            &:hover >&-content{
                transform: translateY(0px);
            }

            &:hover:before{
                opacity: 1;
            }

        }
    }
}

@include mq-desktop{
    .monument{

        &__row{
            display: block;

            &--down{
                display: flex;
                align-items: flex-end;
                margin-bottom: -2px;
            }
        }    
        
        &__item{
            position: relative;
            display: block;
            float: left;
            border: 6px solid white;          
        
            &--xlarge{
                width: 100%;
            }

            &--large{
                width: 50%;
            }

            &--medium{
                width: 25%;
                background-position: bottom center;
                height: 200px;
            }

            &--negative{
                transform: translateY(calc(-50%));
            }

            &-content{
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 0px 20px;
                transform: translateY(50px);
                transition: all 250ms ease-in;

                h2{
                    color: white;
                    font-weight: 100;
                }
            }

            &:before{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 30%;
                width: 100%;
                width: calc(100%);
                @include gradient(transparent, rgba(black,1))
                transition: all 250ms ease-in;
                opacity: 0;
            }

            &:hover >&-content{
                transform: translateY(0px);
            }

            &:hover:before{
                opacity: 1;
            }

        }
    }    
}
