.nav{
    padding-bottom: 10px;
    margin-bottom: 25px;

    &__list{
        z-index: 9;
        list-style-type: none;
        padding: 0;
        display: none;
    }

    #logo{
        margin-top: 10px;
        height: 40px;
    }

    &__item{
        font-size: 24px;
        opacity: 0;

        a{
            text-decoration: none;
            text-align: center;
            display: block;
            color: $grey;
            margin-bottom: 15px;
            transition: all 400ms ease-out;
        }
    }

    &.visible{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: white;
        z-index: 9;
        overflow: hidden;

        .nav{
            &__list{
                display: block;
                margin: 0;
                padding-top: 30%;

                img{
                    display: none;
                }
            }

            &__item{
                opacity: 1;
            }
        }
    }

    &--index{
        position: absolute;
        width: 100%;
        display: block;

        .btn--menu{
            top: 28px;
        }
    }
}


@include mq-desktop{
    .nav{
        width: 100%;
        z-index: 2;
        padding-bottom: 20px;
        padding-top: 15px;
        position: relative;
        display: block;
        padding-bottom: 0;
        margin-bottom: 0;
        
        img{
            display: inline-block;
            margin-right: 25px;
        }

        &__list{
            padding: 0px;
            margin: 9px;
            list-style-type: none;
            display: inline-block;
        }

        &__item{
            display: inline-block;
            position: relative;
            top: -10px;
            opacity: 1;

            a{
                color: $grey;
                padding: 10px 10px;
                text-decoration: none;
                border-radius: 2px;
                margin-bottom: 0px;
                font-size: $size-m;
                
                &:hover{
                    color: $color-primary;
                }
            }
        }

        .btn--menu{
            display: none;
        }

        &--index{
            position: absolute;
            @include gradient(rgba(black,.5), transparent);
            
            .btn--menu{
                display: none;
            }

            .nav__item{

                a{
                    color: white;

                    &:hover{
                        opacity: .5;
                        background: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}