.offer{

    &__skip{
        display: none;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        background: white;
        font-size: $size-m;
        padding: 15px 0px;
        border-top: solid 2px $black;
    }

    &__item{
        display: block;
        overflow: hidden;
        padding-bottom: 20px;
        margin: 50px 0px;
        position: relative;

        &:after{
            content: '';
            border-bottom: 1px solid rgba($black, .4);
            display: block;
            width: 60%;
            margin: 0px auto;
            position: absolute;
            bottom: 0;
        }

        &:last-of-type{
            &:after{
                display: none;
            }
        }
    }

    &__image{
        width: 100%;
        height: 180px;
        background-size: cover;
        background-position: center;
        margin-top: 5px;
    }

    &__sidecontent{
        float: left;
        width: 100%;
        display: block;

        ul{
            list-style-type: none;
            padding: 0;
            font-size: $size-s;
            text-transform: uppercase;
            color: black;
            font-weight: 700;
            display: block;
            margin-bottom: 20px;

            li{
                padding-top: 1px;
                padding-bottom: 3px;
                display: block;
                line-height: 22px;
                font-weight: 400;
            }
        }
    }

    &__content{
        float: left;
        width: 100%;
        box-sizing: border-box;
    }

    &__title{
        margin: 0px;   
        font-weight: 300;
        font-size: $size-xl;
    }
}

@include mq-tablet{
    .offer{

        &__skip{
            display: none;
        }

        &__sidecontent{

            ul{
                display: flex;
                margin-bottom: 40px;

                li{
                    display: inline-block;
                    flex-grow: 1;
                }
            }
        }

        &__content{
            float: left;
            width: 100%;
            box-sizing: border-box;
        }

        &__title{
            margin: 0px;   
            font-weight: 300;
            font-size: $size-xl;
        }
    }
}

@include mq-desktop{
    .offer{

        &__skip{
            display: none;
        }

        &__item{

            &:after{
                content: '';
                border-bottom: 1px solid rgba($black, .4);
                display: block;
                width: 60%;
                margin: 0px auto;
                position: absolute;
                bottom: 0;
            }
        }

        &__sidecontent{
            float: left;
            width: 20%;
            display: block;

            ul{
                list-style-type: none;
                padding: 0;
                font-size: $size-s;
                text-transform: uppercase;
                color: black;
                font-weight: 700;

                li{
                    margin: 9px 0px;
                    padding-top: 1px;
                    padding-bottom: 3px;
                }
            }
        }

        &__content{
            float: left;
            padding-left: 25px;
            width: 80%;
            box-sizing: border-box;
        }

        &__title{
            margin: 0px;   
            font-weight: 300;
            font-size: $size-xl;
        }
    }
}