.project{

    >.container{
        overflow: hidden;
    }

    &__types{
        overflow: hidden;
        margin-top: 50px;
        padding: 20px 0px;
    }

    &__type{
        box-sizing: border-box;
        text-decoration: none;
        margin-bottom: 50px;

        h2{
            font-weight: 100;
            font-size: $size-l;
            color: $black;
            text-align: left;
            transition: all 250ms ease-out;
        }

        &:hover > h2{
            color: $color-primary;
        }
    }

    &__image{
        height: 240px;
        width: 100%;
        background-size: cover;
        background-position: center;
        transition: all 125ms ease-in-out;
    }
}



@include mq-desktop{
    .project{

        &__type{
            width: 33%;
            float: left;
            border: 6px solid white;
        }
    }
}