.project{
    
    &__project{
        width: 100%;
        display: block;
        background-size: cover;
        background-position: center;
        margin-bottom: 50px;
        text-decoration: none;

        &:hover > h2{
            color: $color-primary;
        }
    }

    &__title{
        font-size: 18px;
        font-weight: 100;
        color: $black;
        transition: all 250ms ease-out;
    }
}


@include mq-tablet{
    .project{

        &__project{
            width: 50%;
            float: left;
            box-sizing: border-box;
            border: 6px solid white;

            &:nth-child(even){
                border-left: 0px;
            }
            &:nth-child(odd){
                border-right: 0px;
            }
        }
    }
}

@include mq-desktop{
    .project{

        &__project{
            width: 33%;
            float: left;
            box-sizing: border-box;
            border: 6px solid white;
            
            &:nth-of-type(1n+4),
            &:first-of-type{
                border-left: 0px;
            }
            &:nth-of-type(3n+3){
                border-right: 0px;
            }
        }
    }
}