//media queries
@mixin mq-tablet{
    @media (min-width: 768px) and (max-width: 1023px) {
      @content
  }
};

@mixin mq-desktop{
    @media (min-width: 1024px) {
      @content
    }
};


//titles
@mixin title--main{
  font-size: $size-l;
  color: rgba(white,.8);

  @include mq-tablet{
    font-size: $size-xl;
  }

  @include mq-desktop{
    font-size: $size-xl;
  }
}

@mixin title--page{
  margin: 0px;
  font-size: $size-l;
  color: $black;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 25px;

  @include mq-tablet{
    font-size: $size-xl;
    margin-bottom: 35px;
  }

  @include mq-desktop{
    font-size: $size-xl;
    margin-bottom: 35px;
  }
}

//animations
@keyframes fade-in {
  0%    { opacity: 0;}
  90% {opacity: 0;}
  100%  {opacity: 1; transition-delay: 0s!important;}
}

@keyframes fade-in-out {
  0%,100%    { opacity: 0;}
  50%  {opacity: 1;}
}

@keyframes pulse{
  0%,100%    {padding-right: 30px;}
  50%  {padding-right: 35px;}
}

@keyframes pulse-zoom{
  0%,100%    {background-size: 15px;}
  50%  {background-size: 10px;}
}


@mixin gradient($top, $bottom){
    background: $top;
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
}