@charset "UTF-8";
@keyframes fade-in {
  0% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1;
    transition-delay: 0s !important; } }

@keyframes fade-in-out {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes pulse {
  0%, 100% {
    padding-right: 30px; }
  50% {
    padding-right: 35px; } }

@keyframes pulse-zoom {
  0%, 100% {
    background-size: 15px; }
  50% {
    background-size: 10px; } }

.container {
  max-width: 1280px;
  width: 90%;
  position: relative;
  margin: 0px auto; }
  .container--text {
    max-width: 680px; }

.btn {
  color: #333;
  border: none;
  font-size: 22px;
  background: none; }
  .btn--primary {
    background: #1893d2;
    color: white;
    border-radius: 2px;
    font-size: 16px;
    padding: 10px 15px 11px 15px; }
  .btn--arrow-r {
    background-image: url(../img/right-arrow-white.svg);
    background-position: 100% 6px;
    padding-right: 30px;
    background-size: 20px;
    background-repeat: no-repeat;
    transition: all 125ms ease-out !important;
    animation: pulse 1s infinite !important; }
    .btn--arrow-r:hover {
      animation-play-state: paused;
      padding-right: 35px; }
  .btn--arrow-l {
    background-image: url(../img/left-arrow.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 0px 6px;
    padding-left: 30px;
    transition: all 125ms ease-out !important;
    animation: pulse 1s infinite !important; }
    .btn--arrow-l:hover {
      animation-play-state: paused;
      padding-right: 35px; }
  .btn--gallery {
    background: none;
    background-image: url(../img/gallery.svg);
    background-position: 90% 11px;
    padding-right: 20px;
    background-size: 18px;
    background-repeat: no-repeat;
    transition: all 125ms ease-out !important;
    border-radius: 2px;
    padding: 10px 45px 12px 15px;
    border: 1px solid rgba(102, 102, 102, 0.8); }
    .btn--gallery:hover {
      background-image: url(../img/gallery-white.svg);
      background-color: black;
      color: white; }
  .btn--menu {
    z-index: 9;
    position: absolute;
    right: 15px;
    top: 28px; }
    .btn--menu img {
      display: block;
      transition: all 250ms ease-out; }
      .btn--menu img:first-child {
        margin-bottom: 6px; }
    .btn--menu.active img:first-child {
      transform: rotate(45deg);
      margin-top: 4px; }
    .btn--menu.active img:last-child {
      transform: rotate(-45deg);
      margin-top: -8px; }

button {
  outline: none; }

html, body {
  padding: 0px;
  margin: 0px;
  height: 100%; }

body {
  font-family: 'Arima', sans-serif;
  color: #666; }
  body.menu-active {
    max-height: 100vh;
    overflow: hidden; }

[data-animate-content] h1, [data-animate-content] h2, [data-animate-content] h3, [data-animate-content] a, [data-animate-content] p {
  opacity: 0;
  transition: all 1s ease-out; }

[data-late-fade] {
  animation: fade-in 6s;
  transition-delay: opacity 6s; }

.done h1, .done h2, .done h3, .done a, .done p {
  opacity: 1; }

a {
  transition: all 125ms ease-in-out; }

.bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/house.jpg);
  background-size: cover;
  z-index: 0; }
  .bg-image:before {
    content: '';
    background: transparent;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70%; }

dl dt, dl dd {
  display: block;
  width: 50%;
  float: left;
  margin: 0; }

[data-circle-green],
[data-circle-red],
[data-location-img],
[data-home-img],
[data-euro-img] {
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 35px;
  background-position: 0px; }

[data-location-img] {
  background-image: url(../img/location.svg); }

[data-home-img] {
  background-image: url(../img/home.svg); }

[data-circle-green] {
  background-image: url(../img/circle-green.svg);
  background-size: 16px;
  background-position: 0px 4px; }

[data-circle-red] {
  background-image: url(../img/circle-red.svg);
  background-size: 16px; }

[data-euro-img] {
  background-image: url(../img/euro.svg);
  background-size: 16px; }

.about-us img {
  width: 100%; }

.p--lead {
  font-size: 14px;
  font-weight: 300;
  margin: 0px;
  margin-bottom: 10px; }

.title--main {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.8); }
  @media (min-width: 768px) and (max-width: 1023px) {
    .title--main {
      font-size: 28px; } }
  @media (min-width: 1024px) {
    .title--main {
      font-size: 28px; } }

.title--page {
  margin: 0px;
  font-size: 22px;
  color: #333;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 25px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .title--page {
      font-size: 28px;
      margin-bottom: 35px; } }
  @media (min-width: 1024px) {
    .title--page {
      font-size: 28px;
      margin-bottom: 35px; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .p--lead {
    font-size: 22px; } }

@media (min-width: 1024px) {
  .p--lead {
    font-size: 22px; } }

p, li {
  font-size: 16px;
  font-weight: 100;
  line-height: 32px;
  letter-spacing: 0.5px; }

p a {
  color: #333; }
  p a:hover {
    opacity: .6; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.85);
  display: none; }
  .modal__content {
    transition: all 250ms ease-out;
    width: 100%;
    margin: 0px auto;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.7);
    -ms-flex-item-align: center;
    align-self: center; }
    .modal__content img {
      width: 100%; }
  .modal.visible {
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center; }
  .modal #next,
  .modal #prev,
  .modal #close {
    background: none;
    border: none;
    position: absolute;
    height: 45px;
    width: 45px;
    top: calc(50% + 10px);
    background-image: url(../img/next.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    border-radius: 4px;
    transition: all 125ms ease-out; }
  .modal #next {
    right: 20px;
    background-position: center center; }
  .modal #prev {
    left: 20px;
    background-position: center center;
    transform: rotate(180deg); }
  .modal #close {
    top: 15px;
    right: 15px;
    background-image: url(../img/cancel.svg);
    background-repeat: no-repeat;
    background-position: center; }

select {
  -webkit-appearance: none;
  background: none;
  border: none;
  box-sizing: border-box;
  background: white;
  font-size: 16px;
  padding: 10px 45px 11px 15px;
  background-image: url(../img/down-chevron.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 90% 12px; }

.monument__overview {
  max-width: 1400px;
  margin: 0px auto;
  overflow: hidden;
  margin-bottom: -150px; }

.monument__row {
  display: block; }
  .monument__row--down {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end; }

.monument__item {
  position: relative;
  display: block;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  box-sizing: border-box;
  border: 3px solid white;
  border-left: 6px solid white;
  border-right: 6px solid white; }
  .monument__item--xlarge {
    width: 100%; }
  .monument__item--large {
    width: 100%; }
  .monument__item--medium {
    width: 100%; }
  .monument__item-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0px 20px;
    transition: all 250ms ease-in; }
    .monument__item-content h2 {
      color: white;
      font-weight: 100; }
  .monument__item:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 100%;
    width: calc(100%);
    background: transparent;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    transition: all 250ms ease-in;
    opacity: 1; }

@media (min-width: 768px) and (max-width: 1023px) {
  .monument__row {
    display: block; }
    .monument__row--down {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: end;
      align-items: flex-end; }
  .monument__item {
    position: relative;
    display: block;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    border: 6px solid white; }
    .monument__item--xlarge {
      width: 100%; }
    .monument__item--large {
      width: 50%; }
    .monument__item--medium {
      width: 25%;
      background-position: bottom center;
      height: 200px; }
    .monument__item--negative {
      transform: translateY(calc(-50%)); }
    .monument__item-content {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0px 20px;
      transform: translateY(50px);
      transition: all 250ms ease-in; }
      .monument__item-content h2 {
        color: white;
        font-weight: 100; }
    .monument__item:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 30%;
      width: 100%;
      width: calc(100%);
      background: transparent;
      background: linear-gradient(to bottom, transparent 0%, black 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      transition: all 250ms ease-in;
      opacity: 0; }
    .monument__item:hover > .monument__item-content {
      transform: translateY(0px); }
    .monument__item:hover:before {
      opacity: 1; } }

@media (min-width: 1024px) {
  .monument__row {
    display: block; }
    .monument__row--down {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: end;
      align-items: flex-end;
      margin-bottom: -2px; }
  .monument__item {
    position: relative;
    display: block;
    float: left;
    border: 6px solid white; }
    .monument__item--xlarge {
      width: 100%; }
    .monument__item--large {
      width: 50%; }
    .monument__item--medium {
      width: 25%;
      background-position: bottom center;
      height: 200px; }
    .monument__item--negative {
      transform: translateY(calc(-50%)); }
    .monument__item-content {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0px 20px;
      transform: translateY(50px);
      transition: all 250ms ease-in; }
      .monument__item-content h2 {
        color: white;
        font-weight: 100; }
    .monument__item:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 30%;
      width: 100%;
      width: calc(100%);
      background: transparent;
      background: linear-gradient(to bottom, transparent 0%, black 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      transition: all 250ms ease-in;
      opacity: 0; }
    .monument__item:hover > .monument__item-content {
      transform: translateY(0px); }
    .monument__item:hover:before {
      opacity: 1; } }

.monument__header {
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative; }
  .monument__header:before {
    content: '';
    background: transparent;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70%; }
  .monument__header .container {
    margin-bottom: 100px; }
  .monument__header .title--main {
    font-size: 48px; }

.monument .btn {
  font-size: 16px; }

.monument__info {
  padding: 50px 0px; }

.monument .btn--arrow-l {
  margin-top: 50px;
  display: inline-block;
  background-size: 16px;
  background-position: 0px 4px; }

.offer__skip {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: white;
  font-size: 16px;
  padding: 15px 0px;
  border-top: solid 2px #333; }

.offer__item {
  display: block;
  overflow: hidden;
  padding-bottom: 20px;
  margin: 50px 0px;
  position: relative; }
  .offer__item:after {
    content: '';
    border-bottom: 1px solid rgba(51, 51, 51, 0.4);
    display: block;
    width: 60%;
    margin: 0px auto;
    position: absolute;
    bottom: 0; }
  .offer__item:last-of-type:after {
    display: none; }

.offer__image {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
  margin-top: 5px; }

.offer__sidecontent {
  float: left;
  width: 100%;
  display: block; }
  .offer__sidecontent ul {
    list-style-type: none;
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    display: block;
    margin-bottom: 20px; }
    .offer__sidecontent ul li {
      padding-top: 1px;
      padding-bottom: 3px;
      display: block;
      line-height: 22px;
      font-weight: 400; }

.offer__content {
  float: left;
  width: 100%;
  box-sizing: border-box; }

.offer__title {
  margin: 0px;
  font-weight: 300;
  font-size: 28px; }

@media (min-width: 768px) and (max-width: 1023px) {
  .offer__skip {
    display: none; }
  .offer__sidecontent ul {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px; }
    .offer__sidecontent ul li {
      display: inline-block;
      -ms-flex-positive: 1;
      flex-grow: 1; }
  .offer__content {
    float: left;
    width: 100%;
    box-sizing: border-box; }
  .offer__title {
    margin: 0px;
    font-weight: 300;
    font-size: 28px; } }

@media (min-width: 1024px) {
  .offer__skip {
    display: none; }
  .offer__item:after {
    content: '';
    border-bottom: 1px solid rgba(51, 51, 51, 0.4);
    display: block;
    width: 60%;
    margin: 0px auto;
    position: absolute;
    bottom: 0; }
  .offer__sidecontent {
    float: left;
    width: 20%;
    display: block; }
    .offer__sidecontent ul {
      list-style-type: none;
      padding: 0;
      font-size: 14px;
      text-transform: uppercase;
      color: black;
      font-weight: 700; }
      .offer__sidecontent ul li {
        margin: 9px 0px;
        padding-top: 1px;
        padding-bottom: 3px; }
  .offer__content {
    float: left;
    padding-left: 25px;
    width: 80%;
    box-sizing: border-box; }
  .offer__title {
    margin: 0px;
    font-weight: 300;
    font-size: 28px; } }

.offer__filter ul {
  display: block;
  padding: 15px 15px;
  list-style-type: none;
  overflow: hidden;
  background: rgba(102, 102, 102, 0.15);
  border-radius: 2px;
  padding-bottom: 5px; }

.offer__filter li {
  float: left;
  margin-right: 25px;
  width: 100%;
  margin-bottom: 10px; }
  .offer__filter li select, .offer__filter li button {
    float: right; }

.offer__filter label {
  margin-right: 10px; }

@media (min-width: 1024px) {
  .offer__filter li {
    float: left;
    margin-right: 25px;
    width: auto;
    margin-bottom: 0;
    padding-bottom: 15px; } }

.intro {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  animation: fade-in 6s;
  opacity: 0;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0px 20px;
  box-sizing: border-box;
  pointer-events: none;
  background-color: white;
  animation: fade-in-out 5s; }
  .intro img {
    -ms-flex-item-align: center;
    align-self: center;
    margin-bottom: 30px; }
  .intro .p--lead {
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center; }

.nav {
  padding-bottom: 10px;
  margin-bottom: 25px; }
  .nav__list {
    z-index: 9;
    list-style-type: none;
    padding: 0;
    display: none; }
  .nav #logo {
    margin-top: 10px;
    height: 40px; }
  .nav__item {
    font-size: 24px;
    opacity: 0; }
    .nav__item a {
      text-decoration: none;
      text-align: center;
      display: block;
      color: #666;
      margin-bottom: 15px;
      transition: all 400ms ease-out; }
  .nav.visible {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    z-index: 9;
    overflow: hidden; }
    .nav.visible .nav__list {
      display: block;
      margin: 0;
      padding-top: 30%; }
      .nav.visible .nav__list img {
        display: none; }
    .nav.visible .nav__item {
      opacity: 1; }
  .nav--index {
    position: absolute;
    width: 100%;
    display: block; }
    .nav--index .btn--menu {
      top: 28px; }

@media (min-width: 1024px) {
  .nav {
    width: 100%;
    z-index: 2;
    padding-bottom: 20px;
    padding-top: 15px;
    position: relative;
    display: block;
    padding-bottom: 0;
    margin-bottom: 0; }
    .nav img {
      display: inline-block;
      margin-right: 25px; }
    .nav__list {
      padding: 0px;
      margin: 9px;
      list-style-type: none;
      display: inline-block; }
    .nav__item {
      display: inline-block;
      position: relative;
      top: -10px;
      opacity: 1; }
      .nav__item a {
        color: #666;
        padding: 10px 10px;
        text-decoration: none;
        border-radius: 2px;
        margin-bottom: 0px;
        font-size: 16px; }
        .nav__item a:hover {
          color: #1893d2; }
    .nav .btn--menu {
      display: none; }
    .nav--index {
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); }
      .nav--index .btn--menu {
        display: none; }
      .nav--index .nav__item a {
        color: white; }
        .nav--index .nav__item a:hover {
          opacity: .5;
          background: none;
          box-shadow: none; } }

#main {
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  z-index: 2; }
  #main > .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 75px; }
  #main .title--main, #main a {
    color: rgba(255, 255, 255, 0.9); }
  #main p {
    color: rgba(255, 255, 255, 0.6); }

@media (min-width: 768px) and (max-width: 1023px) {
  #main > .container {
    margin-bottom: 100px; } }

@media (min-width: 1024px) {
  #main > .container {
    margin-bottom: 200px; }
    #main > .container h1 {
      width: 550px; } }

.contact {
  padding-bottom: 50px; }
  .contact #map {
    height: 150px;
    margin-bottom: 25px;
    border: 1px solid rgba(51, 51, 51, 0.4); }
  .contact .title--page {
    margin-bottom: 10px; }
  .contact__viewmap {
    padding: 13px 15px 12px 45px;
    border: 1px solid rgba(51, 51, 51, 0.4);
    border-radius: 2px;
    text-decoration: none;
    background: url(../img/map.svg) no-repeat 10px;
    background-size: 23px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    font-size: 12px; }
    .contact__viewmap:hover {
      border: 1px solid #333333; }
  .contact__info {
    margin-bottom: 25px;
    display: inline-block;
    list-style-type: none;
    padding-left: 0; }
    .contact__info li {
      font-weight: 100;
      font-size: 16px; }
      .contact__info li:first-child {
        font-weight: bold; }
        .contact__info li:first-child:before {
          display: none; }
  .contact__instructions {
    overflow: hidden; }
    .contact__instructions ul {
      padding: 0;
      box-sizing: border-box;
      float: left;
      padding: 0px 15px;
      list-style-type: none; }
      .contact__instructions ul:first-child {
        padding-left: 0px; }
    .contact__instructions li {
      font-weight: 100;
      font-size: 16px; }
      .contact__instructions li:first-child {
        font-weight: bold; }
        .contact__instructions li:first-child:before {
          display: none; }

@media (min-width: 1024px) {
  .contact__instructions ul {
    width: 33%; }
  .contact__info {
    margin-bottom: 75px; }
  .contact #map {
    height: 250px;
    width: 50%;
    float: right; } }

.project > .container {
  overflow: hidden; }

.project__types {
  overflow: hidden;
  margin-top: 50px;
  padding: 20px 0px; }

.project__type {
  box-sizing: border-box;
  text-decoration: none;
  margin-bottom: 50px; }
  .project__type h2 {
    font-weight: 100;
    font-size: 22px;
    color: #333;
    text-align: left;
    transition: all 250ms ease-out; }
  .project__type:hover > h2 {
    color: #1893d2; }

.project__image {
  height: 240px;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 125ms ease-in-out; }

@media (min-width: 1024px) {
  .project__type {
    width: 33%;
    float: left;
    border: 6px solid white; } }

.project__project {
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  text-decoration: none; }
  .project__project:hover > h2 {
    color: #1893d2; }

.project__title {
  font-size: 18px;
  font-weight: 100;
  color: #333;
  transition: all 250ms ease-out; }

@media (min-width: 768px) and (max-width: 1023px) {
  .project__project {
    width: 50%;
    float: left;
    box-sizing: border-box;
    border: 6px solid white; }
    .project__project:nth-child(even) {
      border-left: 0px; }
    .project__project:nth-child(odd) {
      border-right: 0px; } }

@media (min-width: 1024px) {
  .project__project {
    width: 33%;
    float: left;
    box-sizing: border-box;
    border: 6px solid white; }
    .project__project:nth-of-type(1n+4), .project__project:first-of-type {
      border-left: 0px; }
    .project__project:nth-of-type(3n+3) {
      border-right: 0px; } }

.footer {
  margin-top: 45px;
  width: 100%;
  display: block; }
  .footer ul {
    padding: 0;
    margin: 30px 0px; }
    .footer ul li {
      display: block;
      margin-right: 30px; }
      .footer ul li a {
        color: #666; }

@media (min-width: 1024px) {
  .footer ul li {
    display: inline;
    margin-right: 30px; } }

@media (min-width: 1024px) {
  .about-us p {
    display: inline-block;
    width: 50%; }
  .about-us img {
    max-width: 40%;
    float: right;
    border: 1px solid rgba(102, 102, 102, 0.6); } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: 0px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4); }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 36px;
        line-height: 20px;
        text-align: center;
        color: white;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: white;
      opacity: 0.75; }

/*# sourceMappingURL=main.css.map */
