<section class="offer">
    <div class="container">
        <div class="offer__filter">
            <ul>
                <li>
                    <label>Locatie woning</label>
                    <select data-filter-option data-type="location">
                        <option value="0">Geen voorkeur</option>
                        <option value="baarn">Baarn</option>
                        <option value="enkhuizen">Enkhuizen</option>
                    </select>
                </li>                
                <li>
                    <label>Type woning</label>
                    <select data-filter-option data-type="type">
                        <option value="0">Geen voorkeur</option>
                        <option value="rent">Huur</option>
                        <option value="buy">Koop</option>
                    </select>
                </li>
                <li>
                    <label>Oppervlakte</label>
                    <select data-filter-option data-type="surface">
                        <option value="0">Geen voorkeur</option>
                        <option value="25">25 +</option>
                        <option value="50">50 +</option>
                        <option value="75">75 +</option>
                        <option value="100">100 +</option>
                    </select>
                </li>
                <li>
                    <button data-filte class="btn btn--primary" id="btn--filter">Filter</button>
                </li>
            </ul>

            <div id="filter__result"></div>
        </div>

        <div class="offer__item" data-offer data-location="baarn" data-surface="78" data-type="rent">
            <aside class="offer__sidecontent">
                <div class="offer__image" style="background-image: url(assets/img/house.jpg)"></div>
                <div class="offer__detail">
                    <ul>
                        <li data-location-img>Baarn</li>
                        <li data-home-img>50 m<sup>2</sup> kantoorruimte</li>
                        <li data-circle-red>verhuurd</li>
                    </ul>
                </div>
            </aside>
            <div class="offer__content">
                <h2 class="offer__title">Baarn, Eemnesserweg 69, biljarthuisje</h2>
                <p class="offer__description">
                    Naast de monumentale Villa Pera, aan de Eemnesserweg, ligt dit unieke en tevens monumentale, biljarthuisje.
                     Het biljarthuisje heeft een oppervlakte van 50 m2. Het is voorzien van prachtige houten luxaflex, een kroonluchter, een eigen pantry
                     voorzien van koelkast en vaatwasser alsmede een eigen wc. Het biljarthuisje is tevens voorzien van Cat 5 bekabeling.
                     Daarnaast zijn er diverse unieke en prachtige elementen zoals een mooie oude ledenradiator en een houtkachel. 
                     Bij het biljarthuisje hoort 1 parkeerplaats en een eigen terrasje in de bosrijke tuin.   
                </p>
            </div>
        </div>

        <div class="offer__item" data-offer data-location="baarn" data-surface="78" data-type="rent">
            <aside class="offer__sidecontent">
                <div class="offer__image" style="background-image: url(assets/img/house.jpg)"></div>
                <div class="offer__detail">
                    <ul>
                        <li data-location-img>Baarn</li>
                        <li data-home-img>116 m2 kantoorruimte <br>41 m2 kantoorruimte</li>
                        <li data-circle-red>verhuurd</li>
                    </ul>
                </div>
            </aside>
            <div class="offer__content">
                <h2 class="offer__title">Baarn, Eemnesserweg 69, business units</h2>
                <p class="offer__description">
                    In de kantoorvilla "Villa Pera", aan de Eemnesserweg, zijn momenteel 2 kantoorunits beschikbaar. 
                    De unit van 116 m2 is gelegen  op de begane grond en bestaat uit een kamer en suite, een grote tuinkamer en een serre. In de unit zijn 2 marmeren  schouwen, veel en grote glas in lood ramen, een mooie oude ledenradiator, diverse prachtige kroonluchters, origineel beschilderde plafonds, wandbespanning etc. In de tuinkamer, welke gelegen is aan de zuidzijde, is een airco unit aangebracht. 
                    Bij de unit horen  2 parkeerplaatsen op eigen terrein.
                </p>
                <p>
                    De unit van 41 m2 is tevens gelegen op de begane grond. De kamer is voorzien van een kroonluchter, grote spiegel boven de haard, een prachtig  perzisch tapijt, een grote inloopkast en een airco-unit. . Deze kamer kijkt uit op de monumentale tuin.
                    Bij de unit is 1 parkeerplaats op eigen terrein begrepen.                    
                </p>

                <p>
                    In het souterrain is een grote en volledig uitgeruste eetkeuken, beschikbaar voor alle huurders. Op de eerste verdieping is een grote vergaderkamer voorzien van prachtige antieke vergadertafel en flatscreen, tevens beschikbaar voor alle huurders. Op de eerste verdieping bevindt zich tevens een pantry voorzien van alle gemakken en voor gezamenlijk gebruik. De villa is gelegen in een prachtig aangelegde tuin met tuinset. De kantoorvilla is monumentaal maar ook voorzien van alle hedendaagse gemakken zoals Cat5 bekabeling, patchkasten, nieuwe elektra, airco units, lift etc.   
                </p>
            </div>
        </div>

        <div class="offer__item" data-offer data-location="enkhuizen" data-surface="78" data-type="buy">
            <aside class="offer__sidecontent">
                <div class="offer__image" style="background-image: url(assets/img/house.jpg)"></div>
                <div class="offer__detail">
                    <ul>
                        <li data-location-img>Enkhuizen</li>
                        <li data-circle-green>te koop</li>
                        <li data-euro-img>Nader overeen te komen</li>
                    </ul>
                </div>
            </aside>
            <div class="offer__content">
                <h2 class="offer__title">Enkhuizen, Breedstraat 69</h2>
                <p class="offer__description">
                    Grootte en klassieke statigheid komt op je af zodra je het middendeel van de Breedstraat,
                    gelegen in de historische binnenstad van het voormalige Zuiderzeestadje Enkhuizen, binnenkomt.
                    Het pand past naadloos in de stijl van het grootse verleden van Enkhuizen.
                    Voor meer informatie klikt u hier; of neem contact op met alexander@pog.nl
                </p>
            </div>
        </div>
    </div>
    <button class="btn--sticky offer__skip btn">Volgend huis</button>
</section>