<section class="contact">
    <div class="container">
        <h1 class="title--page">Contact informatie</h1>
        <div>
            <ul class="contact__info">
                <li>P.O.G. b.v.</li>
                <li>Eemnesserweg 69</li>
                <li>3743 AE  Baarn</li>
                <li>Tel. 035 - 69 19 319</li>
                <li>info@pog.nl</li>
            </ul>

            <div id="map"></div>
        </div>

        <h2 class="title--page">Rijinstructies</h2>
        <div class="contact__instructions">
            <ul>
                <li>Komende vanaf de snelweg A1 (Amsterdam - Apeldoorn):</li>
                <li>Neem Afslag Soest / Baarn-Noord (afrit 11)</li>
                <li>Bij de eerste kruising links afslaan naar de Amsterdamsestraatweg (N221)</li>
                <li>Neem op de rotonde de derde afslag naar de Drakenburgerweg</li>
                <li>Na 140 meter rechts afslaan naar de Chopinlaan</li>
                <li>Na 330 meter links afslaan naar de Eemnesserweg</li>
                <li>Het kantoor van POG in Villla Pera bevindt zich aan de rechterkant</li>
            </ul>

            <ul>
                <li>Komende vanaf de snelweg A1 (Apeldoorn  Amsterdam): </li>
                <li>Neem afslag Eembrugge / Baarn (afrit 12)</li>
                <li>Ga bij de rotonde rechtsaf</li>
                <li>Ga bij de volgende rotonde rechtdoor</li>
                <li>Neem na de benzinepomp bij de rotonde de 2e afslag (Eemweg)</li>
                <li>Blijf rechtdoor rijden tot aan de Brink en ga hier rechtsaf</li>
                <li>Vervolg uw weg over de Eemnesserweg, Villa Pera bevindt zich na ongeveer 500 meter aan de linkerkant</li>
            </ul>

            <ul>
                <li>Komende vanaf de A27 (Utrecht  Almere of Almere  Utrecht): </li>
                <li>Neem bij Eemnes de afslag naar de A1</li>
                <li>Neem bij Eemnes de afslag naar de A1</li>
                <li>Verder zie routebeschrijving A1 (Amsterdam  Apeldoorn)</li>
            </ul>
        </div>
          <p>Bekijk de route in google <a href="https://www.google.nl/maps/dir//Eemnesserweg+69,+3743+AE+Baarn/@52.2139113,5.2817103,17z/data=!4m16!1m7!3m6!1s0x47c6403a34e29379:0x8e2a74bb46b2b8f0!2sEemnesserweg+69,+3743+AE+Baarn!3b1!8m2!3d52.2139113!4d5.283899!4m7!1m0!1m5!1m1!1s0x47c6403a34e29379:0x8e2a74bb46b2b8f0!2m2!1d5.283899!2d52.2139113?hl=nl" target="_blank" class="contact__viewmap">maps</a></p>
    </div>
</section>