<section class="monument">
    <div class="monument__overview">
        <div class="monument__row">
            <a href="/monument-detail.html" class="monument__item monument__item--xlarge" style="background-image: url(assets/img/house.jpg)">
                <div class="monument__item-content">
                    <h2>Maison 1</h2>
                </div>
            </a>
        </div>
        <div class="monument__row">
            <a href="/monument-detail.html" class="monument__item monument__item--large" style="background-image: url(assets/img/house.jpg)">
                <div class="monument__item-content">
                    <h2>Maison one</h2>
                </div>
            </a>
            <a href="/monument-detail.html" class="monument__item monument__item--large" style="background-image: url(assets/img/house.jpg)">
                <div class="monument__item-content">
                    <h2>Maison one</h2>
                </div>
            </a>
        </div>
        <div class="monument__row monument__row--up">
            <a href="/monument-detail.html" class="monument__item monument__item--medium" style="background-image: url(assets/img/house.jpg)">
                <div class="monument__item-content">
                    <h2>Maison one</h2>
                </div>
            </a>
            <a href="/monument-detail.html" class="monument__item monument__item--medium" style="background-image: url(assets/img/house.jpg)">
                <div class="monument__item-content">
                    <h2>Maison one</h2>
                </div>
            </a>
            <a href="/monument-detail.html" class="monument__item monument__item--large" style="background-image: url(assets/img/house.jpg)">
                <div class="monument__item-content">
                    <h2>Maison one</h2>
                </div>
            </a>
        </div>

        <div class="monument__row monument__row--up">
            <a href="/monument-detail.html" class="monument__item monument__item--large monument__item--negative" style="background-image: url(assets/img/house.jpg)">
                <div class="monument__item-content">
                    <h2>Maison one</h2>
                </div>
            </a>
            <a href="/monument-detail.html" class="monument__item monument__item--medium" style="background-image: url(assets/img/house.jpg)">
                <div class="monument__item-content">
                    <h2>Maison one</h2>
                </div>
            </a>
            <a href="/monument-detail.html" class="monument__item monument__item--medium" style="background-image: url(assets/img/house.jpg)">
                <div class="monument__item-content">
                    <h2>Maison one</h2>
                </div>
            </a>
        </div>
    </div>
</section>