<footer class="footer">
    <div class="container">
        <ul>
            <li>P.O.G. b.v</li>
            <li>Eemnesserweg 69</li>
            <li>3743AE te Baarn</li>
            <li> tel:  <a href="callto:035-6919319">035-6919319</a></li>
            <li><a href="mailto:info@pog.nl">info@pog.nl</a></li>
        </ul>
    </div>
</footer>