<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/slick.min.js"></script>
<script type="text/javascript" src="assets/js/app.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCxid12-YkmuVBTmGP06bB9UplstjqPMM&callback=initMap">
</script>
</body>
</html>