<nav class="nav nav--index" id="nav" data-late-fade>
    <div class="container">
        <img src="assets/img/LOGO.GIF" id="logo">
        <ul class="nav__list" data-nav>
            <li class="nav__item"><a href="/about-us.html">Over ons</a></li>
            <li class="nav__item"><a href="/projecten.html">Projecten</a></li>
            <li class="nav__item"><a href="/monumenten.html">Monumenten</a></li>
            <li class="nav__item"><a href="/aanbod.html">Aanbod</a></li>
            <li class="nav__item"><a href="/contact.html">Contact</a></li>
        </ul>
    </div>
    <button id="btn--menu" class="btn btn--menu">
        <img src="assets/img/rectangle.svg">
        <img src="assets/img/rectangle.svg">
    </button>
</nav>