@import "components/offer-item";


.offer{
    &__filter{
        
        ul{
            display: block;
            padding: 15px 15px;
            list-style-type: none;
            overflow: hidden;
            background: rgba($grey,.15);
            border-radius: 2px;
            padding-bottom: 5px;
        }

        li{
            float: left;
            margin-right: 25px;
            width: 100%;
            margin-bottom: 10px;

            select,button{
                float: right;
            }
        }

        label{
            margin-right: 10px;
        }
    }
}

@include mq-desktop{
    .offer{

        &__filter{

            li{
                float: left;
                margin-right: 25px;
                width: auto;
                margin-bottom: 0;
                padding-bottom: 15px;
            }
        }
    }
}